/* css var */
:root {
  --primari-brend: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtitl-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white: #ffffff;

  --margin-gap: 24px;
  --margin-gap-row: 72px;

  --timing-funcion: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 250ms;
}
