.up-button {
    position: fixed;
    bottom: 45px;
    right: 45px;
}
.up-button__link {
    width: 45px;
    height: 80px;
    fill:var(--primari-brend);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    top: -30px;
    left: 0;
}

.animate__animated.animate__slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-duration:3s;
    animation-duration:3s;
}
.animate__animated.animate__infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.up-button__icon {
    position: relative;
    top: 20px;
    left: 0;
}
.animate__slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
}
.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 3s;
    animation-duration:3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}