		<header class="head">
			<div class="container">
				<a href="./index.html" class="logo logo-link"
					><span class="logo-web">Web</span>Studio</a
				>

				<button type="button" class="hamburger-btn js-open-menu">
					<svg class="hamburger-icon">
						<use href="./images/symbol-defs.svg#icon-charm_menu-hamburger"></use>
					</svg>
				</button>

				<div class="mobil-menu js-menu-container">
					<nav class="nav">
						<ul class="list head-nav">
							<li class="item">
								<a href="./index.html" class="link head-nav-link ">Studio</a>
							</li>
							<li class="item">
								<a href="./portfolio.html" class="link head-nav-link vizit">Portfolio</a>
							</li>
							<li class="item"><a href="" class="link head-nav-link">Contacts</a></li>
						</ul>
					</nav>
					<address class="contact">
						<ul class="list list-contact">
							<li class="item">
								<a href="tel:+110001111111" class="link tel-link contact-link"
									>+11 (000) 111-11-11</a
								>
							</li>
							<li class="item">
								<a href="mailto:info@devstudio.com" class="link mail-link contact-link"
									>info@devstudio.com</a
								>
							</li>
							<li class="item mobil-social">
								<!-- ---social -->
								<ul class="list list-team-social-icon menu-social">
									<li>
										<a href="#">
											<svg class="team-social-icon">
												<use href="./images/symbol-defs.svg#icon-instagram"></use>
											</svg>
										</a>
									</li>
									<li>
										<a href="#"
											><svg class="team-social-icon">
												<use href="./images/symbol-defs.svg#icon-twitter"></use>
											</svg>
										</a>
									</li>
									<li>
										<a href="#"
											><svg class="team-social-icon">
												<use href="./images/symbol-defs.svg#icon-facebook"></use>
											</svg>
										</a>
									</li>
									<li>
										<a href="#"
											><svg class="team-social-icon">
												<use href="./images/symbol-defs.svg#icon-linkedin"></use>
											</svg>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</address>

					<button type="button" class="menu-close hero-modal-close js-close-menu">
						<svg class="hero-modal-close-icon">
							<use href="./images/symbol-defs.svg#icon-close-black-18dp"></use>
						</svg>
					</button>
				</div>
			</div>
		</header>
