			<section class="section portfolio">
				<div class="container">
					<h1 class="visually-hidden">Portfolio</h1>
					<ul class="list portfolio-select js-portfolio-select">
						<li class="item"><button type="button">All</button></li>
						<li class="item"><button type="button">Web Site</button></li>
						<li class="item"><button type="button">App</button></li>
						<li class="item"><button type="button">Design</button></li>
						<li class="item"><button type="button">Marketing</button></li>
					</ul>
					<ul class="list portfolio-examples js-list-portfolio">
						<li class="item">
							<a href="" class="link link-examples ">
								<div class="thumb-exemples">
									<picture>
										<!-- Desktop screen -->

										<source
											media="(min-width: 1200px)"
											srcset="
												./img/portfolio/decktop/port-1-360-min.jpg    1x,
												./img/portfolio/decktop/port-1-360@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Tablet screen -->

										<source
											media="(min-width: 768px)"
											srcset="
												./img/portfolio/tablet/port-1-356-min.jpg    1x,
												./img/portfolio/tablet/port-1-356@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Mobile screen -->
										<source
											media="(max-width: 767px)"
											srcset="
												./img/portfolio/mobile/port-1-396-min.jpg    1x,
												./img/portfolio/mobile/port-1-396@2x-min.jpg 2x
											"
											type="image/jpg"
										/>
										<img
											src="./img/portfolio/mobile/port-1-396-min.jpg"
											class="img-examples"
											alt="Banking App Interface Concept"
										/>
									</picture>

									<div class="overlay-exemples">
										<p class="text-overlay">
											14 Stylish and User-Friendly App Design Concepts · Task Manager App
											· Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
											App
										</p>
									</div>
								</div>

								<div class="card-exemples">
									<h3 class="section-subtitle">Banking App Interface Concept</h3>
									<p class="section-text">App</p>
								</div>
							</a>
						</li>
						<li class="item">
							<a href="" class="link link-examples">
								<div class="thumb-exemples">
									<picture>
										<!-- Desktop screen -->

										<source
											media="(min-width: 1200px)"
											srcset="
												./img/portfolio/decktop/port-2-360-min.jpg    1x,
												./img/portfolio/decktop/port-2-360@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Tablet screen -->

										<source
											media="(min-width: 768px)"
											srcset="
												./img/portfolio/tablet/port-2-356-min.jpg    1x,
												./img/portfolio/tablet/port-2-356@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Mobile screen -->
										<source
											media="(max-width: 767px)"
											srcset="
												./img/portfolio/mobile/port-2-396-min.jpg    1x,
												./img/portfolio/mobile/port-2-396@2x-min.jpg 2x
											"
											type="image/jpg"
										/>
										<img
											src="./img/portfolio/mobile/port-2-396-min.jpg"
											class="img-examples"
											alt="Cashless Payment"
										/>
									</picture>
									<div class="overlay-exemples">
										<p class="text-overlay">
											14 Stylish and User-Friendly App Design Concepts · Task Manager App
											· Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
											App
										</p>
									</div>
								</div>
								<div class="card-exemples">
									<h3 class="section-subtitle">Cashless Payment</h3>
									<p class="section-text">Marketing</p>
								</div>
							</a>
						</li>
						<li class="item">
							<a href="" class="link link-examples">
								<div class="thumb-exemples">
									<picture>
										<!-- Desktop screen -->

										<source
											media="(min-width: 1200px)"
											srcset="
												./img/portfolio/decktop/port-3-360-min.jpg    1x,
												./img/portfolio/decktop/port-3-360@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Tablet screen -->

										<source
											media="(min-width: 768px)"
											srcset="
												./img/portfolio/tablet/port-3-356-min.jpg    1x,
												./img/portfolio/tablet/port-3-356@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Mobile screen -->
										<source
											media="(max-width: 767px)"
											srcset="
												./img/portfolio/mobile/port-3-396-min.jpg    1x,
												./img/portfolio/mobile/port-3-396@2x-min.jpg 2x
											"
											type="image/jpg"
										/>
										<img
											src="./img/portfolio/mobile/port-3-396-min.jpg"
											class="img-examples"
											alt="Meditaion App"
										/>
									</picture>

									<div class="overlay-exemples">
										<p class="text-overlay">
											14 Stylish and User-Friendly App Design Concepts · Task Manager App
											· Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
											App
										</p>
									</div>
								</div>

								<div class="card-exemples">
									<h3 class="section-subtitle">Meditaion App</h3>
									<p class="section-text">App</p>
								</div>
							</a>
						</li>
						<li class="item">
							<a href="" class="link link-examples">
								<div class="thumb-exemples">
									<picture>
										<!-- Desktop screen -->

										<source
											media="(min-width: 1200px)"
											srcset="
												./img/portfolio/decktop/port-4-360-min.jpg    1x,
												./img/portfolio/decktop/port-4-360@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Tablet screen -->

										<source
											media="(min-width: 768px)"
											srcset="
												./img/portfolio/tablet/port-4-356-min.jpg    1x,
												./img/portfolio/tablet/port-4-356@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Mobile screen -->
										<source
											media="(max-width: 767px)"
											srcset="
												./img/portfolio/mobile/port-4-396-min.jpg    1x,
												./img/portfolio/mobile/port-4-396@2x-min.jpg 2x
											"
											type="image/jpg"
										/>
										<img
											src="./img/portfolio/mobile/port-4-396-min.jpg"
											class="img-examples"
											alt="Taxi Service"
										/>
									</picture>

									<div class="overlay-exemples">
										<p class="text-overlay">
											14 Stylish and User-Friendly App Design Concepts · Task Manager App
											· Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
											App
										</p>
									</div>
								</div>

								<div class="card-exemples">
									<h3 class="section-subtitle">Taxi Service</h3>
									<p class="section-text">Marketing</p>
								</div>
							</a>
						</li>
						<li class="item">
							<a href="" class="link link-examples">
								<div class="thumb-exemples">
									<picture>
										<!-- Desktop screen -->

										<source
											media="(min-width: 1200px)"
											srcset="
												./img/portfolio/decktop/port-5-360-min.jpg    1x,
												./img/portfolio/decktop/port-5-360@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Tablet screen -->

										<source
											media="(min-width: 768px)"
											srcset="
												./img/portfolio/tablet/port-5-356-min.jpg    1x,
												./img/portfolio/tablet/port-5-356@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Mobile screen -->
										<source
											media="(max-width: 767px)"
											srcset="
												./img/portfolio/mobile/port-5-396-min.jpg    1x,
												./img/portfolio/mobile/port-5-396@2x-min.jpg 2x
											"
											type="image/jpg"
										/>
										<img
											src="./img/portfolio/mobile/port-5-396-min.jpg"
											class="img-examples"
											alt="Screen Illustrations"
										/>
									</picture>

									<div class="overlay-exemples">
										<p class="text-overlay">
											14 Stylish and User-Friendly App Design Concepts · Task Manager App
											· Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
											App
										</p>
									</div>
								</div>

								<div class="card-exemples">
									<h3 class="section-subtitle">Screen Illustrations</h3>
									<p class="section-text">Design</p>
								</div>
							</a>
						</li>
						<li class="item">
							<a href="" class="link link-examples">
								<div class="thumb-exemples">
									<picture>
										<!-- Desktop screen -->

										<source
											media="(min-width: 1200px)"
											srcset="
												./img/portfolio/decktop/port-6-360-min.jpg    1x,
												./img/portfolio/decktop/port-6-360@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Tablet screen -->

										<source
											media="(min-width: 768px)"
											srcset="
												./img/portfolio/tablet/port-6-356-min.jpg    1x,
												./img/portfolio/tablet/port-6-356@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Mobile screen -->
										<source
											media="(max-width: 767px)"
											srcset="
												./img/portfolio/mobile/port-6-396-min.jpg    1x,
												./img/portfolio/mobile/port-6-396@2x-min.jpg 2x
											"
											type="image/jpg"
										/>
										<img
											src="./img/portfolio/mobile/port-6-396-min.jpg"
											class="img-examples"
											alt="Online Courses"
										/>
									</picture>

									<div class="overlay-exemples">
										<p class="text-overlay">
											14 Stylish and User-Friendly App Design Concepts · Task Manager App
											· Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
											App
										</p>
									</div>
								</div>

								<div class="card-exemples">
									<h3 class="section-subtitle">Online Courses</h3>
									<p class="section-text">Marketing</p>
								</div>
							</a>
						</li>
						<li class="item">
							<a href="" class="link link-examples">
								<div class="thumb-exemples">
									<picture>
										<!-- Desktop screen -->

										<source
											media="(min-width: 1200px)"
											srcset="
												./img/portfolio/decktop/port-7-360-min.jpg    1x,
												./img/portfolio/decktop/port-7-360@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Tablet screen -->

										<source
											media="(min-width: 768px)"
											srcset="
												./img/portfolio/tablet/port-7-356-min.jpg    1x,
												./img/portfolio/tablet/port-7-356@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Mobile screen -->
										<source
											media="(max-width: 767px)"
											srcset="
												./img/portfolio/mobile/port-7-396-min.jpg    1x,
												./img/portfolio/mobile/port-7-396@2x-min.jpg 2x
											"
											type="image/jpg"
										/>
										<img
											src="./img/portfolio/mobile/port-7-396-min.jpg"
											class="img-examples"
											alt="Instagram Stories Concept"
										/>
									</picture>

									<div class="overlay-exemples">
										<p class="text-overlay">
											14 Stylish and User-Friendly App Design Concepts · Task Manager App
											· Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
											App
										</p>
									</div>
								</div>

								<div class="card-exemples">
									<h3 class="section-subtitle">Instagram Stories Concept</h3>
									<p class="section-text">Design</p>
								</div>
							</a>
						</li>
						<li class="item">
							<a href="" class="link link-examples">
								<div class="thumb-exemples">
									<picture>
										<!-- Desktop screen -->

										<source
											media="(min-width: 1200px)"
											srcset="
												./img/portfolio/decktop/port-8-360-min.jpg    1x,
												./img/portfolio/decktop/port-8-360@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Tablet screen -->

										<source
											media="(min-width: 768px)"
											srcset="
												./img/portfolio/tablet/port-8-356-min.jpg    1x,
												./img/portfolio/tablet/port-8-356@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Mobile screen -->
										<source
											media="(max-width: 767px)"
											srcset="
												./img/portfolio/mobile/port-8-396-min.jpg    1x,
												./img/portfolio/mobile/port-8-396@2x-min.jpg 2x
											"
											type="image/jpg"
										/>
										<img
											src="./img/portfolio/mobile/port-8-396-min.jpg"
											class="img-examples"
											alt="Organic Food"
										/>
									</picture>

									<div class="overlay-exemples">
										<p class="text-overlay">
											14 Stylish and User-Friendly App Design Concepts · Task Manager App
											· Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
											App
										</p>
									</div>
								</div>

								<div class="card-exemples">
									<h3 class="section-subtitle">Organic Food</h3>
									<p class="section-text">Web Site</p>
								</div>
							</a>
						</li>
						<li class="item">
							<a href="" class="link link-examples">
								<div class="thumb-exemples">
									<picture>
										<!-- Desktop screen -->

										<source
											media="(min-width: 1200px)"
											srcset="
												./img/portfolio/decktop/port-9-360-min.jpg    1x,
												./img/portfolio/decktop/port-9-360@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Tablet screen -->

										<source
											media="(min-width: 768px)"
											srcset="
												./img/portfolio/tablet/port-9-356-min.jpg    1x,
												./img/portfolio/tablet/port-9-356@2x-min.jpg 2x
											"
											type="image/jpg"
										/>

										<!-- Mobile screen -->
										<source
											media="(max-width: 767px)"
											srcset="
												./img/portfolio/mobile/port-9-396-min.jpg    1x,
												./img/portfolio/mobile/port-9-396@2x-min.jpg 2x
											"
											type="image/jpg"
										/>
										<img
											src="./img/portfolio/mobile/port-9-396-min.jpg"
											class="img-examples"
											alt="Fresh Coffee"
										/>
									</picture>

									<div class="overlay-exemples">
										<p class="text-overlay">
											14 Stylish and User-Friendly App Design Concepts · Task Manager App
											· Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
											App
										</p>
									</div>
								</div>

								<div class="card-exemples">
									<h3 class="section-subtitle">Fresh Coffee</h3>
									<p class="section-text">Web Site</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</section>
