<section class="section customers">
    <div class="container">
        <h2 class="section-title">Customers</h2>
        <ul class="list list-customers">
            <li class="item-customers">
                <a href="#" class="link-customers"
                    ><svg class="icon-customers">
                        <use href="../../img/symbol-defs.svg#icon-company-1"></use>
                    </svg>
                </a>
            </li>
            <li class="item-customers">
                <a href="#" class="link-customers"
                    ><svg class="icon-customers">
                        <use href="../../img/symbol-defs.svg#icon-company-2"></use>
                    </svg>
                </a>
            </li>
            <li class="item-customers">
                <a href="#" class="link-customers"
                    ><svg class="icon-customers">
                        <use href="../../img/symbol-defs.svg#icon-company-3"></use>
                    </svg>
                </a>
            </li>
            <li class="item-customers">
                <a href="#" class="link-customers"
                    ><svg class="icon-customers">
                        <use href="../../img/symbol-defs.svg#icon-company-4"></use>
                    </svg>
                </a>
            </li>
            <li class="item-customers">
                <a href="#" class="link-customers"
                    ><svg class="icon-customers">
                        <use href="../../img/symbol-defs.svg#icon-company-5"></use>
                    </svg>
                </a>
            </li>
            <li class="item-customers">
                <a href="#" class="link-customers"
                    ><svg class="icon-customers">
                        <use href="../../img/symbol-defs.svg#icon-company-6"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>
