<section class="section section-features">
    <div class="container">
        <h2 class="visually-hidden">features</h2>
        <ul class="list features">
            <li class="item features-strategy">
                <div class="features-head">
                    <svg class="features-icon">
                        <use href="./img/symbol-defs.svg#icon-antenna"></use>
                    </svg>
                </div>

                <h3 class="section-subtitle">Strategy</h3>
                <p class="section-text">
                    Our goal is to identify the business problem to walk away with the perfect
                    and creative solution.
                </p>
            </li>

            <li class="item features-punctuality">
                <div class="features-head">
                    <svg class="features-icon">
                        <use href="./img/symbol-defs.svg#icon-clock"></use>
                    </svg>
                </div>

                <h3 class="section-subtitle">Punctuality</h3>
                <p class="section-text">
                    Bring the key message to the brand's audience for the best price within
                    the shortest possible time.
                </p>
            </li>

            <li class="item features-diligence">
                <div class="features-head">
                    <svg class="features-icon">
                        <use href="./img/symbol-defs.svg#icon-diagram"></use>
                    </svg>
                </div>

                <h3 class="section-subtitle">Diligence</h3>
                <p class="section-text">
                    Research and confirm brands that present the strongest digital growth
                    opportunities and minimize risk.
                </p>
            </li>

            <li class="item features-technologies">
                <div class="features-head">
                    <svg class="features-icon">
                        <use href="./img/symbol-defs.svg#icon-astronaut"></use>
                    </svg>
                </div>

                <h3 class="section-subtitle">Technologies</h3>
                <p class="section-text">
                    Design practice focused on digital experiences. We bring forth a deep
                    passion for problem-solving.
                </p>
            </li>
        </ul>
    </div>
</section>
