		<!-- modal -->

		<div class="backdrop is-hidden" data-modal>
			<div class="hero-modal">
				<button type="button" class="hero-modal-close" data-modal-close>
					<svg class="hero-modal-close-icon">
						<use href="./img/symbol-defs.svg#icon-close-black-18dp"></use>
					</svg>
				</button>
				<form name="modal-form">
					<p class="modal-form-title section-text">
						Leave your contacts and we will call you back
					</p>

					<div class="modal-form-container">
						<label class="modal-form-label username" for="username">Name</label>
						<div class="modal-form-position-icon">
							<input type="text" name="username" id="username" />
							<svg class="modal-form-icon">
								<use href="./img/symbol-defs.svg#icon-user"></use>
							</svg>
						</div>

						<label class="modal-form-label phone" for="phone">Phone</label>
						<div class="modal-form-position-icon">
							<input type="tel" name="phone" id="phone" />
							<svg class="modal-form-icon">
								<use href="./img/symbol-defs.svg#icon-phone"></use>
							</svg>
						</div>

						<label class="modal-form-label email" for="email">Email</label>
						<div class="modal-form-position-icon">
							<input type="email" name="email" id="email" />
							<svg class="modal-form-icon">
								<use href="./img/symbol-defs.svg#icon-mail"></use>
							</svg>
						</div>

						<label class="modal-form-label coment" for="coment">Comment </label>
						<textarea
							name="coment"
							cols="30"
							rows="10"
							placeholder="Text input"
							class="textarea"
							id="coment"
						></textarea>
					</div>

					<label class="modal-form-label checkbox">
						<input type="checkbox" name="valid" /><span>
							<svg class="checkbox-icon">
								<use href="./img/symbol-defs.svg#icon-checked"></use>
							</svg>
						</span>
						I accept the terms and conditions of the&nbsp; <a href="#">Privacy Policy </a>
					</label>
					<button type="submit" class="form-btn hero-btn">Send</button>
				</form>
			</div>
		</div>
