<section class="section produkt">
    <div class="container">
        <h2 class="section-title">What are we doing</h2>
        <ul class="list list-produkt">
            <li class="item">
                <picture>
                    <source
                        media="(min-width: 1200px)"
                        srcset="
                          ./img/webstudio/produkt/desctop-360-min.jpg    1x,
                          ./img/webstudio/produkt/desctop-360@2x-min.jpg 2x
                        "
                        type="image/jpg"
                    />
                    <img src="#" alt="desctop" width="360" />
                </picture>
            </li>
            <li class="item">
                <picture>
                    <source
                        media="(min-width: 1200px)"
                        srcset="
                          ./img/webstudio/produkt/mobile-360-min.jpg    1x,
                          ./img/webstudio/produkt/mobile-360@2x-min.png 2x
                        "
                        type="image/jpg"
                    />
                    <img src="#" alt="mobile" width="360" />
                </picture>
            </li>
            <li class="item">
                <picture>
                    <source
                        media="(min-width: 1200px)"
                        srcset="
                          ./img/webstudio/produkt/notebook-360-min.jpg    1x,
                          ./img/webstudio/produkt/notebook-360@2x-min.jpg 2x
                        "
                        type="image/jpg"
                    />
                    <img src="#" alt="notebook" width="360" />
                </picture>
            </li>
        </ul>
    </div>
</section>
