<section class="section team">
    <div class="container team-container">
        <h2 class="section-title">Our Team</h2>
        <ul class="list list-team">
            <li class="item">
                <img class="kenburns-top"
                    srcset="
                        ./img/webstudio/team/team-1-264-min.jpg    1x,
                        ./img/webstudio/team/team-1-264@2x-min.jpg 2x
                    "
                    src="./img/webstudio/team/team-1-264-min.jpg"
                    alt="Product Designer"
                    width="264"
                />
                <div class="card-team">
                    <h3 class="section-subtitle">Mark Guerrero</h3>
                    <p class="section-text">Product Designer</p>

                    <ul class="list list-team-social-icon">
                        <li>
                            <a href="#">
                                <svg class="team-social-icon">
                                    <use href="./img/symbol-defs.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                ><svg class="team-social-icon">
                                    <use href="./img/symbol-defs.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                ><svg class="team-social-icon">
                                    <use href="./img/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                ><svg class="team-social-icon">
                                    <use href="./img/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="item">
                <img class="kenburns-top"
                    srcset="
                        ./img/webstudio/team/team-2-264-min.jpg    1x,
                        ./img/webstudio/team/team-2-264@2x-min.jpg 2x
                    "
                    src="./img/webstudio/team/team-2-264-min.jpg"
                    alt="Product Designer"
                    width="264"
                />
                <div class="card-team">
                    <h3 class="section-subtitle">Tom Ford</h3>
                    <p class="section-text">Frontend Developer</p>
                    <ul class="list list-team-social-icon">
                        <li>
                            <a href="#">
                                <svg class="team-social-icon">
                                    <use href="./img/symbol-defs.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                ><svg class="team-social-icon">
                                    <use href="./img/symbol-defs.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                ><svg class="team-social-icon">
                                    <use href="./img/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                ><svg class="team-social-icon">
                                    <use href="./img/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <img class="kenburns-top"
                    srcset="
                        ./img/webstudio/team/team-3-264-min.jpg    1x,
                        ./img/webstudio/team/team-3-264@2x-min.jpg 2x
                    "
                    src="./img/webstudio/team/team-3-264-min.jpg"
                    alt="Product Designer"
                    width="264"
                />
                <div class="card-team">
                    <h3 class="section-subtitle">Camila Garcia</h3>
                    <p class="section-text">Marketing</p>
                    <ul class="list list-team-social-icon">
                        <li>
                            <a href="#">
                                <svg class="team-social-icon">
                                    <use href="./img/symbol-defs.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                ><svg class="team-social-icon">
                                    <use href="./img/symbol-defs.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                ><svg class="team-social-icon">
                                    <use href="./img/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                ><svg class="team-social-icon">
                                    <use href="./img/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <img class="kenburns-top"
                    srcset="
                      ./img/webstudio/team/team-4-264-min.jpg    1x,
                   ./img/webstudio/team/team-4-264@2x-min.jpg 2x
                    "
                    src="./img/webstudio/team/team-4-min.jpg"
                    alt="Product Designer"
                    width="264"
                />

                <div class="card-team">
                    <h3 class="section-subtitle">Daniel Wilson</h3>
                    <p class="section-text">UI Designer</p>
                    <ul class="list list-team-social-icon">
                        <li>
                            <a href="#">
                                <svg class="team-social-icon">
                                    <use href="./img/symbol-defs.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                ><svg class="team-social-icon">
                                    <use href="./img/symbol-defs.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                ><svg class="team-social-icon">
                                    <use href="./img/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                ><svg class="team-social-icon">
                                    <use href="./img/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>
